YANDEX_CLIENT_ID=111
YANDEX_CLIENT_SECRET=222
GOOGLE_CLIENT_ID=333
GOOGLE_CLIENT_SECRET=444
DATABASE_URL=postgres://1:2@127.0.0.1:5444/pipecrm
REDIS_URL=postgres://1:2@127.0.0.1:5444/pipecrm

INFLUX_DB_URL=http://127.0.0.1:8086
INFLUX_DB_TOKEN=111
INFLUX_DB_ORG=org-test
INFLUX_DB_BUCKET=buck-test

AUTH_ORIGIN=http://127.0.0.1:3000

S3_REGION=ru-central1
S3_ENDPOINT=https://storage.yandexcloud.net
S3_ACCESS_KEY_ID=111
S3_SECRET_ACCESS_KEY=222
